@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: "Fette Haenel Fraktur";
    src: url("https://genemator.bsba.uz/fonts/FetteHaenelFraktur.ttf");
}

@font-face {
    font-family: "JetBrainsMono NF";
    src: url("https://genemator.bsba.uz/fonts/JetBrains.ttf");
}

html {
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
    font-family: 'JetBrainsMono NF', monospace;
}

:root {
    --grey: #5E5D5E;
    --mid-grey: #3f3f3f;
}

body {
    background-color: black;
    color: white;
    background-size: 50px 50px;
    background-position: center;
    background-image: linear-gradient(to right, var(--mid-grey) 1px, transparent 1px), linear-gradient(to bottom, var(--mid-grey) 1px, transparent 1px);
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.genemator-title {
    font-family: "Fette Haenel Fraktur";
    font-size: 1.6rem;
}

.custom-error {
    font-family: "JetBrains Mono";
    font-size: 1.6rem;
}
