@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: "Fette Haenel Fraktur";
    src: url("https://genemator.bsba.uz/fonts/FetteHaenelFraktur.ttf");
}

html {
    background-color: black;
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.genemator-title {
    font-family: "Fette Haenel Fraktur";
    font-size: 1.6rem;
}
