@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: "Fette Haenel Fraktur";
    src: url("https://genemator.bsba.uz/fonts/FetteHaenelFraktur.ttf");
}

html {
    scroll-behavior: smooth;
}

.genemator-title {
    font-family: "Fette Haenel Fraktur";
    font-size: 1.6rem;
}
